@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

img {
  display: inline-block;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
}

h1, h4 {
  font-size: 46px;
  line-height: 40px;
  letter-spacing: 1.1px;
}

h2 {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.5px;
}

p {
  font-family: "Lora", serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-weight: 400;
}

header {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
header .heroBannerIndex {
  background-image: url("../../assets/home-1.jpeg");
  height: 80vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
header .heroBannerBlog {
  background-image: url("../../assets/blog-1.jpeg");
  height: 70vh;
  width: 100%;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
header .heroBannerContact {
  background-image: url("../../assets/contact-1.jpeg");
  height: 65vh;
  width: 100%;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}
header .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .headerContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .headerContainer ul li {
  padding: 20px 12px;
  margin-top: 14px;
}
header .headerContainer ul li .navGreen {
  color: #589321;
}
header .headerContainer ul li .material-icons {
  font-size: 25px;
}
header .headerContainer ul a {
  -webkit-transition: -webkit-text-decoration 0.1s ease-in;
  transition: -webkit-text-decoration 0.1s ease-in;
  transition: text-decoration 0.1s ease-in;
  transition: text-decoration 0.1s ease-in, -webkit-text-decoration 0.1s ease-in;
}
header .headerContainer ul a:hover,
header .headerContainer ul a:focus {
  text-decoration: underline;
}
header a {
  color: black;
}

.popularRecipesContainer {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.popularRecipesContainer h2::after {
  content: "";
  display: block;
  background-color: #589321;
  height: 3px;
  width: 55px;
  margin: 20px 0 0 85px;
}
.popularRecipesContainer .recipesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}
.popularRecipesContainer .recipesContainer p {
  max-width: 500px;
  text-align: center;
  margin-bottom: 35px;
}
.popularRecipesContainer .recipesContainer button {
  border: none;
  background-color: #589321;
  height: 50px;
}
.popularRecipesContainer .recipesContainer button a {
  color: #F6F6F6;
  padding: 25px 25px;
  font-weight: 600;
  font-size: 14px;
}
.popularRecipesContainer .recipesContainer button:hover,
.popularRecipesContainer .recipesContainer button:focus {
  background-color: rgb(115, 176, 45);
}
.popularRecipesContainer img {
  width: 50%;
  height: 590px;
}

.foodOptionsContainer {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.foodOptionsContainer img {
  width: 50%;
  height: 590px;
}
.foodOptionsContainer .optionsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.foodOptionsContainer .optionsBox span {
  position: absolute;
  right: 50px;
}
.foodOptionsContainer .optionsBox ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 70px;
}
.foodOptionsContainer .optionsBox ul li {
  width: 270px;
}
.foodOptionsContainer .optionsBox ul li p {
  color: #999999;
}
.foodOptionsContainer .optionsBox ul li h3 {
  margin-bottom: 0;
}
.foodOptionsContainer .optionsBox .iconContainer {
  position: relative;
}
.foodOptionsContainer .optionsBox .iconContainer .material-icons {
  position: absolute;
  right: 300px;
  font-size: 40px;
  color: #333333;
}

.ourRestaurantsContainer {
  padding: 160px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ourRestaurantsContainer .photoPositioning {
  position: relative;
}
.ourRestaurantsContainer .chairsPhoto {
  width: 400px;
  height: 280px;
}
.ourRestaurantsContainer .pinkCircle {
  position: absolute;
  bottom: 208px;
  right: -69px;
  width: 170px;
  height: 170px;
}
.ourRestaurantsContainer h2::after {
  content: "";
  display: block;
  background-color: #589321;
  height: 3px;
  width: 55px;
  margin: 12px 0 0 70px;
}
.ourRestaurantsContainer p {
  text-align: center;
  width: 70ch;
  margin: 0;
  color: #999999;
}

.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.galleryContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.galleryContainer ul li {
  width: 33.33%;
}
.galleryContainer ul li img {
  height: 100%;
  width: 100%;
}

.hungryClientsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(188, 228, 153);
  padding: 150px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hungryClientsContainer h2::after {
  content: "";
  display: block;
  background-color: #589321;
  height: 3px;
  width: 55px;
  margin: 10px 0 0 60px;
}
.hungryClientsContainer p {
  text-align: center;
  width: 750px;
}
.hungryClientsContainer .blockQuote {
  position: relative;
}
.hungryClientsContainer .blockQuote::before {
  content: "❝";
  font-size: 100px;
  position: absolute;
  left: -90px;
  top: -20px;
  color: rgb(235, 235, 235);
  opacity: 70%;
}
.hungryClientsContainer .blockQuote::after {
  content: "❞";
  font-size: 100px;
  color: rgb(235, 235, 235);
  opacity: 70%;
  position: absolute;
  right: -80px;
  bottom: -42px;
}

h5 {
  font-size: 15px;
  margin: 14px 0;
}

.lineStyling {
  margin: 30px 0;
  opacity: 50%;
}

.pineappleChickenContainer h1 {
  margin-bottom: 5px;
}
.pineappleChickenContainer p {
  color: rgb(84, 84, 84);
}
.pineappleChickenContainer .postDate {
  margin: 0 0 40px 0;
}
.pineappleChickenContainer .tagsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.pineappleChickenContainer .socialsBox {
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10px;
}
.pineappleChickenContainer .socialsBox img {
  opacity: 40%;
  height: 18px;
  width: 18px;
}
.pineappleChickenContainer .socialsBox img:hover,
.pineappleChickenContainer .socialsBox img:focus {
  opacity: 30%;
}

.mainPostContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  margin: 35px 0;
}
.mainPostContainer hr {
  margin: 30px 0;
  opacity: 50%;
}
.mainPostContainer .mainPostText {
  background-color: rgb(243, 243, 243);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mainPostContainer .mainPostText p {
  margin: 0 30px;
  line-height: 28px;
  color: rgb(94, 94, 94);
}
.mainPostContainer .mainPostText h5 {
  letter-spacing: 0.7px;
  margin: 15px 0 25px 30px;
}

.relatedPostsImgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.relatedPostsImgContainer p {
  color: rgb(94, 94, 94);
}
.relatedPostsImgContainer p .blackText {
  color: black;
}
.relatedPostsImgContainer img {
  margin-top: 25px;
  height: 219.25px;
  width: 425.5px;
}

.commentsContainer h5 {
  margin: 35px 0;
}
.commentsContainer .commentsCard {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 0;
}
.commentsContainer .commentsCard p {
  margin: 0 30px;
  line-height: 28px;
  color: #333333;
}
.commentsContainer .commentsCard img {
  width: 90px;
  height: 90px;
}
.commentsContainer .commentsCard .commentsText {
  background-color: rgb(243, 243, 243);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 20px 0;
}
.commentsContainer .commentsCard .commentsP {
  margin: 10px 0;
  margin-left: 30px;
}
.commentsContainer .commentsTextBold {
  font-weight: 600;
  font-size: 18px;
}
.commentsContainer .commentDate {
  font-weight: 600;
  font-size: 13px;
}

.commentsFormContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.commentsFormContainer p {
  color: rgb(142, 142, 142);
  font-family: "Lora", serif;
}
.commentsFormContainer input,
.commentsFormContainer textarea {
  border: 0.7px solid rgb(216, 216, 216);
  border-radius: 0;
}
.commentsFormContainer .nameEmailContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
.commentsFormContainer .nameEmailContainer input {
  width: 33.33%;
  height: 35px;
  color: rgb(142, 142, 142);
}
.commentsFormContainer .commentButton {
  font-family: "Raleway", sans-serif;
  height: 55px;
  width: 190px;
  font-size: 14px;
  background-color: #589321;
  margin-bottom: 120px;
  color: white;
}
.commentsFormContainer .commentButton:hover,
.commentsFormContainer .commentButton:focus {
  background-color: rgb(115, 176, 45);
}
.commentsFormContainer textarea {
  height: 180px;
  margin: 20px 0;
  width: 100%;
  color: rgb(142, 142, 142);
  resize: none;
}

.mainContactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 25px;
}
.mainContactContainer input,
.mainContactContainer textarea {
  border: none;
  border-radius: 0;
  width: 50%;
  height: 35px;
  color: rgb(124, 124, 124);
  background-color: rgb(243, 243, 243);
}
.mainContactContainer .dropUsALineContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55%;
}
.mainContactContainer .nameEmailContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
.mainContactContainer .subjectColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mainContactContainer .dropUsALineSubject {
  width: 100%;
  margin: 20px 0;
}
.mainContactContainer .dropUsALineMessage {
  width: 100%;
  height: 200px;
  resize: none;
}
.mainContactContainer .commentButton {
  font-family: "Raleway", sans-serif;
  height: 55px;
  width: 190px;
  margin-top: 5px;
  font-size: 14px;
  color: #589321;
  background-color: white;
  border: none;
  text-align: left;
}
.mainContactContainer .commentButton:hover,
.mainContactContainer .commentButton:focus {
  opacity: 75%;
}
.mainContactContainer .contactDetailsContainer {
  width: 45%;
  background-color: rgb(243, 243, 243);
  padding: 30px;
}
.mainContactContainer .contactDetailsContainer p {
  margin: 0;
  color: rgb(124, 124, 124);
  line-height: 28px;
  max-width: 300px;
}
.mainContactContainer .contactDetailsContainer p .blackText {
  color: black;
}
.mainContactContainer .contactDetailsContainer .contactInfoMargin {
  margin: 25px 0;
}
.mainContactContainer .contactDetailsContainer h5 {
  margin-top: 60px;
}
.mainContactContainer .lowerBackgroundImage {
  background-image: url("../../assets/contact-2.jpeg");
  height: 60vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer .footerContainer {
  padding: 60px;
  background-color: #333333;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
footer .footerContainer div {
  margin: 0 60px;
  width: 22%;
}
footer hr {
  width: 100%;
  opacity: 50%;
}

.deliciousBox h4 {
  font-size: 38px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 0 0 25px 0;
}
.deliciousBox h4 a {
  color: #589321;
}
.deliciousBox p {
  line-height: 24px;
  color: #999999;
}

.recentPostsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.recentPostsBox h3 {
  color: white;
  letter-spacing: 0.6px;
  margin: 0 0 30px 0;
}
.recentPostsBox a {
  color: #999999;
  line-height: 28px;
  padding: 8px;
}
.recentPostsBox hr {
  margin: 0;
}
.recentPostsBox a:hover {
  opacity: 60%;
}

.subscribeBox h3 {
  color: white;
  letter-spacing: 0.6px;
  margin: 0 0 30px 0;
}
.subscribeBox p {
  line-height: 24px;
  color: #999999;
}
.subscribeBox form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 35px;
}
.subscribeBox button a {
  color: white;
  font-size: 27px;
  padding: 0 15px;
}
.subscribeBox hr {
  margin: 23px 0 15px 0;
}
.subscribeBox .socialsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
  height: 25px;
  margin: 0;
}
.subscribeBox .socialsBox a {
  padding: 10px 10px 25px 10px;
}
.subscribeBox .socialsBox img {
  width: 25px;
  height: 25px;
}
.subscribeBox .socialsBox img:hover {
  opacity: 75%;
}

.footerButton {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 10px;
  background-color: #589321;
  border: none;
  width: 20%;
}

.footerButton:hover,
.footerButton:focus {
  background-color: rgb(115, 176, 45);
}

.formBox {
  width: 80%;
  background-color: rgb(101, 100, 100);
  color: white;
  border: none;
  border-radius: 0;
  font-size: 12px;
  font-style: italic;
  letter-spacing: 0.5px;
}

.bottomBar {
  background-color: #2E2E2E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bottomBar p {
  color: white;
  font-weight: 200;
}
.bottomBar p span {
  color: #589321;
}

@media (max-width: 480px) {
  header .headerContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .headerContainer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .headerContainer ul li {
    padding: 0;
    margin: 15px;
  }
  header .headerContainer ul li a {
    font-size: 18px;
  }

  .popularRecipesContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popularRecipesContainer img {
    width: 100%;
    height: 60%;
    margin: 30px 0;
  }
  .popularRecipesContainer .recipesContainer {
    width: 100%;
  }

  .foodOptionsContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foodOptionsContainer img {
    width: 100%;
    height: 60%;
  }
  .foodOptionsContainer .optionsBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .foodOptionsContainer .optionsBox ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .ourRestaurantsContainer .pinkCircle {
    height: 60%;
    width: 47%;
    right: -31px;
  }
  .ourRestaurantsContainer h2 {
    margin-top: 40px;
  }
  .ourRestaurantsContainer p {
    width: 90%;
  }

  .hungryClientsContainer p {
    width: 380px;
  }

  .blockQuote::after {
    left: 800px;
    top: 100px;
  }

  .blockQuote::before {
    right: 800px;
    bottom: 0px;
  }

  footer .footerContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  footer .footerContainer div {
    width: 100%;
  }
  footer .recentPostsBox h3 {
    margin-top: 30px;
  }
  footer .subscribeBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .subscribeBox h3 {
    margin-top: 30px;
  }
}
@media (max-width: 480px) {
  .mainPostContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainPostContainer img {
    height: 200px;
    width: 200px;
  }

  .relatedPostsImgContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 480px) {
  header .heroBannerContact {
    height: 70vh;
  }

  .mainContactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainContactContainer .contactDetailsContainer {
    width: 100%;
  }
  .mainContactContainer .dropUsALineContainer {
    width: 100%;
  }
}