footer {
    .footerContainer {
        padding: 60px;
        background-color: $footer;
        justify-content: center;
        display: flex;
        flex-direction: row;
        div {
            margin: 0 60px;
            width: 22%;
        }
    }
    hr {
        width: 100%;
        opacity: 50%;
    }
}

.deliciousBox {
    h4 {
        font-size: 38px;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: $mainGreen;
        margin: 0 0 25px 0;
    }
    p {
        line-height: 24px;
        color: $greyBackground;
    }
}

.recentPostsBox {
    display: flex;
    flex-direction: column;
    h3 {
        color: white;
        letter-spacing: 0.6px;
        margin: 0 0 30px 0;
    }
    a {
        color: $greyBackground;
        line-height: 28px;
    }
}

.subscribeBox {
    h3 {
        color: white;
        letter-spacing: 0.6px;
        margin: 0 0 30px 0;
    }
    p {
        line-height: 24px;
        color: $greyBackground;
    }
    form {
        display: flex;
        flex-direction: row;
        height: 35px;
    }
    button {
    a {
        color: white;
        font-size: 27px;
        padding: 0 15px;
    }
    }
    hr {
        margin: 23px 0 15px 0;
    }
    .socialsBox {
        display: flex;
        justify-content: space-between;
        width: 120px;
        height: 25px;
        margin: 0;
        img {
            width: 25px;
            height: 25px;
        }
    }
}

.footerButton {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 10px 10px;
    background-color: $mainGreen;
    border: none;
    width: 20%;
}

.footerButton:hover {
    background-color: rgb(115, 176, 45);
}

.formBox {
width: 80%;
background-color: rgb(101, 100, 100);
color: white;
border: none;
border-radius: 0;
font-size: 12px;
font-style: italic;
letter-spacing: 0.5px;
}





.bottomBar {
    background-color: $header;
    display: flex;
    align-items: center;
    p {
        color: white;
        margin-left: 152px;
        font-weight: 200;
        span {
            color: $mainGreen;
        }
    }
}

