.foodOptionsContainer {
    background-color: $whiteBackground;
    display: flex;
    flex-direction: row;
    img {
        width: 50%;
        height: 590px;
    }
    .optionsBox {
        display: flex;
        flex-direction: column;
        width: 25%;
        justify-content: center;
        span {
            position: absolute;
            right: 50px;
        }
        ul {
            justify-content: end;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            li {
                width: 270px;
                p{
                    color: $greyBackground;
                }
                h3 {
                    margin-bottom: 0;
                }
            }
        }
    }
}