// COLORS AND FONTS

$header: #2E2E2E;
$footer: #333333;
$greyBackground: #999999;
$whiteBackground: #F6F6F6;
$mainGreen: #9af07e;

// font-family: 'Lora', serif;
// font-family: 'Raleway', sans-serif;

// GENERAL STYLES

.wrapper {
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
}

img {
    height: 250px;
    width: 250px;
    display: inline-block;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

h1, h4 {
    font-size: 46px;
    line-height: 24px;
    letter-spacing: 1.1px;
}

h2 {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.5px;
}

p {
    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
}

